*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

img{
    width: 100%;
    height: 100%;
}

body{
    font-family: Arial;
    background-color: #ede0d4;
}

.logo{
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 50px;
    margin-right: 20px;
    margin-top: 0px;
}


.navbar{
    display: flex;
    align-items: center;
    background:#b08968;
    list-style: none;
    height: 10vh;

}


.elementos{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    height: 100%;
}

.nav-elemento{
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
}

.nav-elemento:hover{
    background:#ddb892 ;
}


.Heroe{
    width: 100%;
    position: relative;
    height: 100%;
}

#imagen{
    width: 100%;
    height: 100%;
}


.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0 , 0, .7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255 , 255, .6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;    
}


.boton{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    font-weight: bold;
    position:absolute;
    color:#fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.atras:hover{
    cursor:pointer;
    transform:scale(1.2,1.2);
}

.adelante:hover{
    cursor:pointer;
    transform:scale(1.2,1.2);
}

.atras{
    left:2%;
    bottom: 45%;
}


.adelante{
    right:2%;
    bottom: 45%;
}

.Yo{
    width: 300px;
    display: inline-block;
}

#about-me{
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 36px;
    width: 160px;
    margin-bottom: 30px;
}


.bloque{
    display: inline-block;
    vertical-align: top ;
    list-style: none;
    border-radius: 5px;
    border-color: #b08968;
    border-style: solid;
}

.objetivos{
    display: flex;
    flex-direction: column;
    vertical-align: top;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 20px;
}

.ab-elemento{
    margin-left: 2em;
    list-style-type: circle;
}



#experience{
    width: 70%;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 36px;
    width: 205px;
    margin-bottom: 30px;
}

.bloque-exp{
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 30px;
    vertical-align: bottom;
}

.informacion{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px; 
}

.elementos-exp{
    display: block;
    gap: 5px;
}


.imagen-proyecto{
    display: inline-block;
    width: 200px;
}

.elemento-exp{
    list-style-type: circle;
    margin-left: 2em;
}

.link-exp{
    display: block;
    text-decoration: underline;
    color: black;
    margin-top: 10px;
}

h4{
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: underline;
}


