*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}


body{
    font-family: Arial;
}

.logo{
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 50px;
    margin-right: 20px;
    margin-top: 0px;
}


.navbar{
    display: flex;
    align-items: center;
    background:#b08968;
    list-style: none;
    height: 10vh;

}


.elementos{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    height: 100%;
}

.nav-elemento{
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
}

.nav-elemento:hover{
    background:#ddb892 ;
}
